.login-block {
    position: absolute;
    height: 40vh;
    width: 25vw;
    top: 20vh;
    right: 40vw;
    /* background-color: #ada8c391; */
    border-radius: 5%;
}

form {
    padding: 10%;
    background-color: #ada8c391;
    border-radius: 5%;
}


input {
    width: 80%;
}

.error-text {
    color: red;
}

.login-form {
    position: relative;
    top: 10%;
    left: 20%;
}

.container {
    margin-top: 10%;
    position: relative;
    left: 0%;
}

.row {
    position: relative;
    width: 90%;
    left: 0;
}

#roleSelector {
    position: relative;
    width: 40%;
}