.signup-block {
    position: absolute;
    height: 80vh;
    width: 25vw;
    top: 10vh;
    right: 40vw;
    background-color: #ada8c391;
    border-radius: 10px;
}


input {
    width: 50%;
}

.signup-form {
    position: relative;
    top: 10%;
    left: 20%;
}